html{
	scroll-behavior: smooth;
}
body{
	background-color: #313439;
}
/*header*/
.top-nav {
	overflow: hidden;
	margin: 0 auto;
	width: 98%;
}
.logo {
	margin: 10px;
	font-size: 25px;
	border:none;
	border-radius: 5px;
	background-color: #7b8495;
	height: 50px;
	width: 450px;
	box-shadow: 9px 9px 5px rgba(0,0,0,0.3);
}
.login{
	margin: 10px;	
	font-size: 25px;
	border: none;
	border-radius: 5px;
	background-color: #7b8495;
	height: 50px;
	width: 140px;
	float: right;
	box-shadow: 9px 9px 5px rgba(0,0,0,0.3);
}
/*main*/
.welcome-wrapper{
	margin: auto;
	text-align: center;
	border-style: none;
	border-radius: 20px;
	background-color: #292a2e;
	width: 70%;
	box-shadow: 12px 12px 7px rgba(0,0,0,0.3);
}
h1 {
	padding-top: 10px;
	color: white;
	text-align: center;
	padding-top: 30px;
	font-size: 100px;
}
p{
	color: white;
	text-align: center;
	font-size: 30px;
}
.folder-wrapper{
	display: block;
	margin: auto;
	margin-top: 100px;
	text-align: center;
	border-style: none;
	border-radius: 20px;
	width: 70%;
	height: 350px;
}
.folder-wrapper-container {
	display: block;
	margin: auto;
	width: 80%;
	height: 100%;
}
.folder-1 {
	margin-top: 70px;
	height: 200px;
	margin-left: -310px;
	width: 200px;
	color: White;
	font-weight: bold;
	background-color: #467dfc;
	display: inline-block;
	border-radius: 20px;
	font-size: 20px;
	left: 0%;
	position: relative;
	box-shadow: 12px 12px 7px rgba(0,0,0,0.3);
}
.folder-2 {
	height: 200px;
	width: 200px;
	color: White;
	font-weight: bold;
	background-color: #7b8495;
	display: inline-block;
	border-radius: 20px;
	font-size: 40px;
	left: 10%;
	position: relative;
	box-shadow: 12px 12px 7px rgba(0,0,0,0.3);
}
.folder-3 {
	height: 200px;
	width: 200px;
	color: White;
	font-weight: bold;
	background-color: #fe8f47;
	display: inline-block;
	border-radius: 20px;
	font-size: 40px;
	left:20%;
	position: relative;
	box-shadow: 12px 12px 7px rgba(0,0,0,0.3);
}
.folder-4 {
	height: 200px;
	width: 200px;
	color: White;
	font-weight: bold;
	background-color: #292a2e;
	display: inline-block;
	border-radius: 20px;
	font-size: 40px;
	left: 30%;
	position: relative;
	box-shadow: 12px 12px 7px rgba(0,0,0,0.3);
}
.ads-wrapper{
	display: block;
	margin: auto;
	margin-top: 100px;
	text-align: center;
	border-style: none;
	border-radius: 20px;
	background-color: #292a2e;
	width: 70%;
	height: 820px;
	box-shadow: 12px 12px 7px rgba(0,0,0,0.3);
}

.categories-wrapper{
	display: block;
	margin:  auto;
	margin-top: 120px;
	text-align: center;
	border-style: none;
	border-radius: 20px;
	background-color: #292a2e;
	width: 70%;
	height: 1000px;
	box-shadow: 12px 12px 7px rgba(0,0,0,0.3);
}

footer {
	width: 100%;
	background-color: red;
	margin-top: 1200px;
}
.copyright{
	float: left;
	margin: 20px;
}
.teaminfo {
	float: right;
	margin: 20px;
}
img {
	width: 610px;
}
table {
	position: relative;
	margin: auto;
}
h3 {
	font-size: 60px;
	color: white;
}
.ads-content-1 {
	background-image: linear-gradient(90deg,#fe8f47 ,#8e5440 );
}
.ads-content-2 {
	background-image: linear-gradient(90deg, #242f61 ,#3f6fe2);
}
.grid-container {
	display: grid;
	position: relative;;
	margin: auto;
	padding: 10px;
	height: 1000px;
	width: 80%;
}
.grid-item {
	border: none;
	border-radius: 15px;
}
#grid-item-1 {
	grid-column-start: 1;
	grid-column-end: 4;
	height: 100px;
}
#grid-item-8 {
	grid-column-start: 1;
	grid-column-end: 4;
	height: 200px; 
}
#content-grid-item-1 {
	font-size: 80px;
	color: white;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.content-grid-item {
	font-size: 50px;
	color: white;
	font-weight: bold;

}
#grid-item-2 {
	background-color: #7b8495;
	height: 200px;
	width: 200px;
	box-shadow: 12px 12px 7px rgba(0,0,0,0.3);
}
#grid-item-3 {
	background-color: #7b8495;
	height: 200px;
	width: 200px;
	box-shadow: 12px 12px 7px rgba(0,0,0,0.3);
}
#grid-item-4 {
	background-color: #7b8495;
	height: 200px;
	width: 200px;
	box-shadow: 12px 12px 7px rgba(0,0,0,0.3);
}
#grid-item-5 {
	background-color: #7b8495;
	height: 200px;
	width: 200px;
	box-shadow: 12px 12px 7px rgba(0,0,0,0.3);
}
#grid-item-6 {
	background-color: #7b8495;
	height: 200px;
	width: 200px;
	box-shadow: 12px 12px 7px rgba(0,0,0,0.3);
}
#grid-item-7 {
	background-color: #7b8495;
	height: 200px;
	width: 200px;
	box-shadow: 12px 12px 7px rgba(0,0,0,0.3);
}
.button{
	border:none;
	border-radius: 12px;
	height: 45px;
	width: 320px;
	background-color: #467dfc;
	font-size: 30px;
	font-weight: bold;
	color: white;
	box-shadow: 12px 12px 7px rgba(0,0,0,0.3);
}
#hr-2 {
	position: relative;
	text-align: center;
	margin-top: 10px;
	margin-left: -30px;
}
#ads-content-1-h3 {
	margin-left: -200px;
}
#ads-content-2-h3 {
	margin-right: -180px;
}
#ads-content-1-p {
	margin-left: -110px;
}
#ads-content-2-p {
	margin-right: -150px;
}